<nav class="navbar navbar-expand-md sticky-top navigation-clean-search" style="background-color: rgb(25, 34, 39);">
    <div class="container"><a class="navbar-brand" href="{% url 'home_page' %}" style="color: #BE8A60; font: Montserrat;">Mzansi News</a><button data-toggle="collapse" class="navbar-toggler navbar-dark" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon navbar-dark"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link"></a></li>
                <li class="nav-item" role="presentation"></li>
            </ul>
            <form method="GET" action="{% url 'home_page' %}" class="form-inline mr-auto" target="_self">{% csrf_token %}
                <div class="form-group"><label for="search-field"><i class="fa fa-search" style="padding: 9px;color: #BE8A60;"></i></label><input class="border rounded form-control search-field" type="search" value= "{{query}}" name="q" id="search-field" id="search-field" name="search" style="width: 370px; background-color: #BE8A60;opacity: 1;"></div>
            </form>
            {% if user.is_authenticated %}
            <a class="btn action-button" role="button" href="{% url 'logout' %}" style="background-color: #BE8A60;color: rgb(25, 34, 39);">Logout </a></div>
            {% else %}
            <a class="btn action-button" role="button" href="{% url 'login' %}" style="background-color: #BE8A60;color: rgb(25, 34, 39);">Login </a></div>
            {% endif %}
    </div>
</nav>