<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>{% block title %}{% endblock %}</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
		<link rel="stylesheet" href="{% static 'index/css/styles.min.css' %}" />
		<link rel="stylesheet" href="{% static 'index/css/form.styles.min.css' %}" />
		<link rel="stylesheet" href="{% static 'index/css/Navigation-with-Search.css' %}" />
	</head>

	<body style="opacity: 1; background-color: rgb(25, 34, 39); color: #bffff1">
		{% block content %} {% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
