{% extends "index/header.html" %} {% load static %} {% block title %}Mzansi News{% endblock %} {% block content %} {%
include "index/snippets/nav.html" %}
<div class="newsletter8 py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				{% if user.is_authenticated %}
				<br />
				<h4 class="my-3" style="color: #be8a60">You are signed in</h4>
				<h6 class="subtitle mt-3 font-weight-normal">
					You now have the search functionality. You can search for the news you like by topic, category, or
					location. Enjoy the service.
				</h6>
				{% else %}
				<h4 class="my-3" style="color: #be8a60">Get The News You Like</h4>
				<h6 class="subtitle mt-3 font-weight-normal">
					Sign up to get personalised news based on your searches. Get the function to search for stories by
					topic, category, or location. The service is completely free and no fees will be charged.
				</h6>
				<form method="POST" action="{% url 'register' %}" class="mt-4">
					{% csrf_token %}
					<div class="form-group">
						{% for message in messages %}
						<div class="alert alert-danger">
							<a class="close" href="#" data-dismiss="alert">×</a>
							{{ message }}
						</div>
						{% endfor %} {{ form.username }}
					</div>
					<div class="form-group">{{ form.password }}</div>
					<div class="form-group">
						<button class="btn btn-block btn-md text-uppercase border-0" style="background-color: #be8a60">
							Register
						</button>
					</div>
					<div class="form-group">
						<div class="my-1">
							<div class="custom-control custom-checkbox mr-sm-2">
								<input type="checkbox" class="custom-control-input" />
								<a href="{% url 'login' %}" class="already" style="color: #be8a60"
									>You already have an account? Click here to login.</a
								>
							</div>
						</div>
					</div>
				</form>
				{% endif %}
			</div>
			<div class="col-md-8 ml-auto">
				{% if error_report %}
				<div class="media">
					<div class="media-body">
						<br />
						<h3 class="card-title text-center" style="padding: 10px; color: #be8a60">No Results</h3>
						<div class="card-text text-center" style="width: 100%; height: 100px">
							<p class="card-text">There were no results matching your search for: "{{query}}".</p>
						</div>
					</div>
				</div>
				{% else %}
				<div class="d-block d-md-flex border-bottom pb-3 text-uppercase">
					<h6 class="no-shrink font-weight-medium align-self-center m-b-0" style="color: #be8a60">
						Latest Top Stories
					</h6>
				</div>
				{% for article in articles %} {% if article.urlToImage %} {% include "index/snippets/article.html" %} {%
				endif %} {% endfor %} {% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
