
{% extends "index/header.html" %}
{% load static %}
{% block title %}Mzansi News{% endblock %}
{% block content %}
<!-- column{% include "index/snippets/nav.html" %}-->
<div class="newsletter8 py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4 class="my-3">Get The News You Like</h4>
        <h6 class="subtitle mt-3 font-weight-normal">Sign up to get personalised news based on your searches and reading activity. The service is completely free and no fees will be charged.</h6>
        <form class="mt-4">
          <div class="form-group">
            {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endfor %}
            {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.password }}
          </div>
          <div class="form-group">
            <button class="btn btn-danger-gradiant btn-block btn-md text-uppercase text-white border-0">Subscribe </button>
          </div>
          <div class="form-group">
            <div class="my-1">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing1">
                <label class="custom-control-label" for="customControlAutosizing1">I have read and agree to the <a href="#" class="text-decoration-none">terms and conditions</a></label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-8 ml-auto">
        <div class="d-block d-md-flex border-bottom pb-3 text-uppercase">
          <h6 class="no-shrink font-weight-medium align-self-center m-b-0">Latest News</h6>
        </div>
        {% for article in articles %}
            {% include "index/snippets/article.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
